@use "@/styles/helpers" as *;

.logo {
	display: flex;
	align-items: center;
	column-gap: to-rem(4);
	margin-right: to-rem(125);

	svg {
		flex-shrink: 0;
		color: var(--brand-600);
	}

	span {
		font-size: to-rem(20);
		font-weight: 500;
		color: var(--gray-950);
	}
}
