@use "@/styles/helpers" as *;

.themeToggler {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: to-rem(36);
	height: to-rem(36);
	border: none;
	background-color: transparent;
	line-height: 0;
	cursor: pointer;
	color: var(--gray-500);
	border-radius: var(--border-radius);
	transition-duration: var(--transition-duration);

	&:hover {
		color: var(--gray-950);
		// background-color: var(--gray-100);
	}

	svg {
		width: to-rem(24);
		height: to-rem(24);
	}
}
