@use "@/styles/helpers" as *;

.pageOutlet {
	flex-grow: 1;
	overflow: hidden;
	background-color: var(--gray-50);
	border: var(--border);
	border-radius: var(--border-radius-huge);
}

.pageContent {
	height: 100%;
	overflow: auto;
	padding: to-rem(16);
}
