@use "@/styles/helpers" as *;

.searchBar {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.searchBarWrapper {
	position: relative;
	display: flex;
	height: to-rem(36);
	border: var(--border);
	border-radius: var(--border-radius-big);
	// transition-duration: var(--transition-duration);

	&:hover {
		background-color: var(--gray-100);
	}

	&:has(input:focus-visible) {
		background-color: var(--gray-100);
	}

	&::after {
		content: "Ctrl + K";
		display: block;
		position: absolute;
		top: 50%;
		right: to-rem(12);
		transform: translateY(-50%);
		font-size: to-rem(14);
		color: var(--gray-500);
		cursor: text;
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-block: 0;
		padding-left: to-rem(12);
		padding-right: to-rem(8);
		color: var(--gray-500);
		border: none;
		background-color: transparent;
		cursor: pointer;
		// transition-duration: var(--transition-duration);

		&:hover {
			color: var(--gray-950);
		}
	}

	input {
		width: to-rem(314);
		padding: 0;
		padding-right: to-rem(68);
		font-size: to-rem(14);
		line-height: 1.5;
		color: var(--gray-950);
		border: none;
		background-color: transparent;

		&::placeholder {
			color: var(--gray-500);
		}
	}
}
