@use "@/styles/helpers" as *;

.header {
	flex-shrink: 0;
	display: flex;
	padding-block: to-rem(12);
	padding-inline: to-rem(16);
	background-color: var(--gray-50);
	border: var(--border);
	border-radius: var(--border-radius);
}
