@use "@/styles/helpers" as *;

.playbackProgress {
	flex-grow: 1;
	display: flex;
	align-items: center;
	column-gap: to-rem(8);
	font-size: to-rem(13);
	line-height: 1;
	color: var(--gray-500);
	font-variant-numeric: tabular-nums;

	&:global(.disabled) {
		pointer-events: none;
	}
}

.currentTime {
	text-align: right;
}

.progressBarWrapper {
	flex-grow: 1;
	padding-block: to-rem(6);
	cursor: pointer;

	&:hover {
		.progressKnob {
			width: to-rem(12);
			height: to-rem(12);
		}

		.progress {
			background-color: var(--brand-600);
		}

		.progressKnob {
			opacity: 1;
		}
	}
}

.progressBar {
	position: relative;
	height: to-rem(4);
	background-color: var(--gray-200);
	border-radius: to-rem(4);
	// overflow: hidden;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-radius: to-rem(4);
	background-color: var(--gray-950);
	transition: background-color var(--transition-duration) ease;
}

.progressKnob {
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	height: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: var(--brand-600);
	box-shadow: 0 0 to-rem(8) hsl(0, 0%, 0%, 0.2);
	transition:
		width var(--transition-duration) ease,
		height var(--transition-duration) ease,
		opacity var(--transition-duration) ease;
	opacity: 0;
}

.duration {
	text-align-last: left;
}
