@use "@/styles/helpers" as *;

.songItem {
	display: grid;
	grid-auto-rows: to-rem(56);
	grid-template-columns: to-rem(56) to-rem(44) 1fr 1fr 1fr to-rem(56);
	align-items: center;
	padding-right: to-rem(8);
	font-size: to-rem(14);
	border-radius: var(--border-radius-huge);

	&:hover {
		background-color: var(--gray-100);
	}
}

.songIndex {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: to-rem(16);
	font-variant-numeric: tabular-nums;
}

.songButton {
	margin: 0;
	padding: to-rem(6);
	border: 0;
	font-size: 0;
	color: var(--gray-500);
	background-color: transparent;
	cursor: pointer;
	transition-duration: var(--transition-duration);

	&:hover {
		color: var(--gray-950);
	}

	svg {
		width: to-rem(24);
		height: to-rem(24);
	}
}

.songCover {
	position: relative;
	aspect-ratio: 1;
	overflow: hidden;
	// border: 1px solid var(--gray-100);
	border-radius: var(--border-radius);
	box-shadow: 0 to-rem(2) to-rem(8) hsl(0, 0%, 0%, 0.2);
	cursor: pointer;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.songTitle {
	span {
		position: relative;
		margin-left: to-rem(12);
		cursor: pointer;

		&:hover::before {
			background-color: var(--gray-950);
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: transparent;
		}
	}
}

.songArtist {
	color: var(--gray-500);
}

.songAlbum {
	color: var(--gray-500);
}

.songDuration {
	text-align: center;
	font-variant-numeric: tabular-nums;
	color: var(--gray-500);
}
