@use "@/styles/helpers" as *;

.audioPlayer {
	flex-shrink: 0;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: to-rem(10);
	background-color: var(--gray-50);
	border: var(--border);
	border-radius: var(--border-radius-huge);
}
