@use "@/styles/helpers" as *;

.albumItem {
	flex: 0 0 calc(100% / 6);
	max-width: calc(100% / 6);
	min-width: 0;
	padding: to-rem(12);
	padding-bottom: to-rem(24);
	border-radius: var(--border-radius-big);
	transition-duration: var(--transition-duration);

	&:hover {
		background-color: var(--gray-100);
	}
}

.albumCover {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	margin-bottom: to-rem(8);
	border-radius: var(--border-radius);
	overflow: hidden;
	border: var(--border);
	// box-shadow: 0 2px 10px 0 var(--gray-950);

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.albumTitle {
	margin-bottom: to-rem(2);
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.albumReleaseDateAndArtist {
	display: inline-flex;
	column-gap: to-rem(4);
	font-size: to-rem(14);
	color: var(--gray-500);
}

.albumReleaseDate {
}

.albumArtist {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
