@use "@/styles/helpers" as *;

* {
	outline: none;
	scrollbar-color: var(--gray-400) var(--gray-50);
}

*::selection {
	color: var(--brand-950);
	background-color: var(--brand-200);
}

html {
	-webkit-tap-highlight-color: transparent;

	// height: 100%;
	scroll-behavior: smooth;
	// scroll-padding-top: 0;
	// scrollbar-gutter: stable;
	// scrollbar-color: var(--color-scrollbar) var(--color-bg);

	// &.is-lock {
	// 	overflow: hidden !important;
	// }
}

body {
	font-family: var(--font-family);
	font-size: to-rem(16);
	font-weight: 400;
	line-height: 1;

	color: var(--gray-950);
	background-color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

// a,
// button,
// label,
// input,
// textarea,
// select,
// svg * {
// 	transition-duration: var(--transition-duration);
// }

// a {
// 	color: inherit;

// 	@include hover {
// 		color: var(--color-accent);
// 	}

// 	&[class] {
// 		text-decoration: none;
// 	}
// }

// :focus-visible {
// 	outline: to-rem(2) dashed red;
// 	// outline-offset: to-rem(2);
// 	transition-duration: 0s !important;
// }
